@charset "utf-8";
/* CSS Document */

/* =================================================
   专题公共微调样式
   =========================================== */
   
/**
 * Float
 */
#wrap .clear { clear:both;}
#wrap .floatL { float:left;}
#wrap .floatR { float:right;}


/**
 * Width
 */
 
#wrap .width4 { width:4%;}
#wrap .width5 { width:5%;}
#wrap .width8 { width:8%;}
#wrap .width10 { width:10%;}
#wrap .width12 { width:12%;}
#wrap .width14 { width:14%;}
#wrap .width15 { width:15%;}
#wrap .width16 { width:16%;}
#wrap .width18 { width:18%;}
#wrap .width20 { width:20%;}
#wrap .width22 { width:22%;}
#wrap .width23 { width:23%;}
#wrap .width25 { width:25%;}
#wrap .width26 { width:26%;}
#wrap .width27 { width:27%;}
#wrap .width28 { width:28%;}
#wrap .width29 { width:29%;}
#wrap .width30 { width:30%;}
#wrap .width31 { width:31%;}
#wrap .width32 { width:32%;}
#wrap .width33 { width:33%;}
#wrap .width34 { width:34%;}
#wrap .width35 { width:35%;}
#wrap .width36 { width:36%;}
#wrap .width37 { width:37%;}
#wrap .width38 { width:38%;}
#wrap .width39 { width:39%;}
#wrap .width40 { width:40%;}
#wrap .width42 { width:42%;}
#wrap .width43 { width:43%;}
#wrap .width44 { width:44%;}
#wrap .width45 { width:45%;}
#wrap .width46 { width:46%;}
#wrap .width47 { width:47%;}
#wrap .width48 { width:48%;}
#wrap .width49 { width:49%;}
#wrap .width50 { width:50%;}
#wrap .width51 { width:51%;}
#wrap .width52 { width:52%;}
#wrap .width53 { width:53%;}
#wrap .width54 { width:54%;}
#wrap .width55 { width:55%;}
#wrap .width56 { width:56%;}
#wrap .width57 { width:57%;}
#wrap .width58 { width:58%;}
#wrap .width60 { width:60%;}
#wrap .width61 { width:61%;}
#wrap .width62 { width:62%;}
#wrap .width63 { width:63%;}
#wrap .width64 { width:64%;}
#wrap .width65 { width:65%;}
#wrap .width66 { width:66%;}
#wrap .width68 { width:68%;}
#wrap .width70 { width:70%;}
#wrap .width72 { width:72%;}
#wrap .width74 { width:74%;}
#wrap .width75 { width:75%;}
#wrap .width76 { width:76%;}
#wrap .width77 { width:77%;}
#wrap .width78 { width:78%;}
#wrap .width80 { width:80%;}
#wrap .width85 { width:85%;}
#wrap .width87 { width:87%;}
#wrap .width88 { width:88%;}
#wrap .width90 { width:90%;}
#wrap .width100 { width:100%;}


/**
 * Margin
 */
#wrap .nomargin { margin:0;}
#wrap .nomarginT { margin-top:0;}
#wrap .nomarginR { margin-right:0;}
#wrap .nomarginB { margin-bottom:0;}
#wrap .nomarginL { margin-left:0;}

#wrap .marginT5 { margin-top:5px;}
#wrap .marginT8 { margin-top:8px;}
#wrap .marginT10 { margin-top:10px;}
#wrap .marginT12 { margin-top:12px;}
#wrap .marginT15 { margin-top:15px;}
#wrap .marginT18 { margin-top:18px;}
#wrap .marginT20 { margin-top:20px;}
#wrap .marginT25 { margin-top:25px;}
#wrap .marginT26 { margin-top:26px;}
#wrap .marginT30 { margin-top:30px;}
#wrap .marginT35 { margin-top:35px;}
#wrap .marginT40 { margin-top:40px;}
#wrap .marginT45 { margin-top:45px;}
#wrap .marginT50 { margin-top:50px;}
#wrap .marginT54 { margin-top:54px;}
#wrap .marginT55 { margin-top:55px;}
#wrap .marginT60 { margin-top:60px;}
#wrap .marginT65 { margin-top:65px;}
#wrap .marginT70 { margin-top:70px;}
#wrap .marginT76 { margin-top:76px;}
#wrap .marginT80 { margin-top:80px;}
#wrap .marginT85 { margin-top:85px;}
#wrap .marginT90 { margin-top:90px;}
#wrap .marginT100 { margin-top:100px;}
#wrap .marginT110 { margin-top:110px;}
#wrap .marginT120 { margin-top:120px;}

#wrap .marginR8 { margin-right:8px;}
#wrap .marginR10 { margin-right:10px;}
#wrap .marginR14 { margin-right:14px;}
#wrap .marginR15 { margin-right:15px;}
#wrap .marginR20 { margin-right:20px;}
#wrap .marginR25 { margin-right:25px;}
#wrap .marginR30 { margin-right:30px;}
#wrap .marginR35 { margin-right:35px;}
#wrap .marginR37 { margin-right:37px;}
#wrap .marginR40 { margin-right:40px;}
#wrap .marginR45 { margin-right:45px;}
#wrap .marginR48 { margin-right:48px;}
#wrap .marginR50 { margin-right:50px;}
#wrap .marginR55 { margin-right:55px;}
#wrap .marginR60 { margin-right:60px;}
#wrap .marginR65 { margin-right:65px;}
#wrap .marginR80 { margin-right:80px;}


#wrap .marginL5 { margin-left:5px;}
#wrap .marginL10 { margin-left:10px;}
#wrap .marginL14 { margin-left:14px;}
#wrap .marginL15 { margin-left:15px;}
#wrap .marginL18 { margin-left:18px;}
#wrap .marginL20 { margin-left:20px;}
#wrap .marginL25 { margin-left:25px;}
#wrap .marginL26 { margin-left:26px;}
#wrap .marginL30 { margin-left:30px;}
#wrap .marginL33 { margin-left:33px;}
#wrap .marginL35 { margin-left:35px;}
#wrap .marginL37 { margin-left:37px;}
#wrap .marginL40 { margin-left:40px;}
#wrap .marginL44 { margin-left:44px;}
#wrap .marginL45 { margin-left:45px;}
#wrap .marginL48 { margin-left:48px;}
#wrap .marginL50 { margin-left:50px;}
#wrap .marginL55 { margin-left:55px;}
#wrap .marginL60 { margin-left:60px;}
#wrap .marginL65 { margin-left:65px;}
#wrap .marginL70 { margin-left:70px;}
#wrap .marginL75 { margin-left:75px;}
#wrap .marginL80 { margin-left:80px;}
#wrap .marginL85 { margin-left:85px;}
#wrap .marginL90 { margin-left:90px;}
#wrap .marginL100 { margin-left:100px;}
#wrap .marginL120 { margin-left:120px;}
#wrap .marginL150 { margin-left:150px;}
#wrap .marginL190 { margin-left:190px;}
#wrap .marginL200 { margin-left:200px;}


/**
 * Padding
 */
#wrap .nopadding { padding:0;}
#wrap .nopaddingT { padding-top:0;}
#wrap .nopaddingR { padding-right:0;}
#wrap .nopaddingB { padding-bottom:0;}
#wrap .nopaddingL { padding-left:0;}

#wrap .paddingT5 { padding-top:5px;}
#wrap .paddingT10 { padding-top:10px;}
#wrap .paddingT15 { padding-top:15px;}
#wrap .paddingT20 { padding-top:20px;}
#wrap .paddingT25 { padding-top:25px;}
#wrap .paddingT30 { padding-top:30px;}
#wrap .paddingT35 { padding-top:35px;}
#wrap .paddingT40 { padding-top:40px;}
#wrap .paddingT45 { padding-top:45px;}
#wrap .paddingT50 { padding-top:50px;}
#wrap .paddingT60 { padding-top:60px;}
#wrap .paddingT66{ padding-top:66px;}
#wrap .paddingT70{ padding-top:70px;}

#wrap .paddingL5 { padding-left:5px;}
#wrap .paddingL10 { padding-left:10px;}
#wrap .paddingL15 { padding-left:15px;}
#wrap .paddingL20 { padding-left:20px;}
#wrap .paddingL24 { padding-left:24px;}
#wrap .paddingL30 { padding-left:30px;}
#wrap .paddingL35 { padding-left:35px;}
#wrap .paddingL40 { padding-left:40px;}
#wrap .paddingL44 { padding-left:44px;}
#wrap .paddingL50 { padding-left:50px;}
#wrap .paddingL60 { padding-left:60px;}
#wrap .paddingL70 { padding-left:70px;}
#wrap .paddingL80 { padding-left:80px;}
#wrap .paddingL90 { padding-left:90px;}

#wrap .paddingB5 { padding-bottom:5px;}
#wrap .paddingB6 { padding-bottom:6px;}
#wrap .paddingB10 { padding-bottom:10px;}
#wrap .paddingB15 { padding-bottom:15px;}
#wrap .paddingB20 { padding-bottom:20px;}
#wrap .paddingB30 { padding-bottom:30px;}
#wrap .paddingB35 { padding-bottom:35px;}
#wrap .paddingB40 { padding-bottom:40px;}
#wrap .paddingB50 { padding-bottom:50px;}
#wrap .paddingB60 { padding-bottom:60px;}


/**
 * Border
 */
#wrap .noborder { border:none;}
#wrap .noborderT { border-top:none;}
#wrap .noborderR { border-right:none;}
#wrap .noborderB { border-bottom:none;}
#wrap .noborderL { border-left:none;}


/**
 * Background
 */
#wrap .nobg { background:none;}


/**
 * List
 */
#wrap .noliststyle { list-style:none;}
#wrap .list_disc li { list-style:disc;}
#wrap .list_square li { list-style:square;}


/**
 * Line-height
 */
#wrap .lineheight14 { line-height:14px;}
#wrap .lineheight18 { line-height:18px;}
#wrap .lineheight24 { line-height:24px;}
#wrap .lineheight26 { line-height:26px;}
#wrap .lineheight30 { line-height:30px;}


/**
 * Font
 */
#wrap .bold { font-weight:bold;}
#wrap .normal { font-weight:normal;}

#wrap .indent, 
#wrap .indent p { text-indent:28px;}
#wrap p.noindent, 
#wrap .noindent { text-indent:0;}

#wrap .center { text-align:center;}
#wrap .left { text-align:left;}
#wrap .right { text-align:right;}

#wrap .font12 { font-size:12px;}
#wrap .KaiTi { font-family:"KaiTi";}


/**
 * Table
 */
#wrap .top td { vertical-align:top;}
#wrap .middle td { vertical-align:middle;}